<div class="header--sidebar"></div>
<header class="header">
  <nav class="navigation">
    <div class="container-fluid">
      <div class="navigation__column left">
        <div class="header__logo"><a class="ps-logo" href="/"><img src="images/logo.png" alt=""></a></div>
      </div>
      <div class="navigation__column center">
        <ul class="main-menu menu">
          <li class="menu-item"><a href="/">Home</a>
          </li>
          <!-- <li class="menu-item"><a href="/dashboard">Dashboard</a>
          </li> -->
          <li class="menu-item menu-item-has-children dropdown"><a href="/apple">MOBILES</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/apple">APPLE</a></li>
              <li class="menu-item"><a href="/samsung">SAMSUNG</a></li>
              <li class="menu-item"><a href="/oneplus">ONEPLUS</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children dropdown"><a href="/applelaptops">LAPTOPS</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/applelaptop">APPLE</a></li>
              <li class="menu-item"><a href="/hplaptop">HP</a></li>
              <li class="menu-item"><a href="/delllaptop">DELL</a></li>
              <li class="menu-item"><a href="/lenovolaptop">LENOVO</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children dropdown"><a href="/cannondslr">DSLR</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/cannondslr">CANON</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children dropdown"> <a href="#"> OPTIONS </a>
            <ul class="sub-menu">
             <li>
              <a href="/updateaddress"> update profile</a>
             </li>
             <li>
              <a href="/updatepass"> update password </a>
             </li>
             <li>
              <form action="/logout?_method=DELETE" method="POST"> 
                <button type="submit" class="btn-danger"> LogOut </button>
              </form>
             </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navigation__column right">
        <% if(user){ %>
          <div class="ps-cart"><a class="ps-cart__toggle" href="/dashboard"><i class="fa fa-user"></i></a>
      <% }%>
      <div class="menu-toggle"><span></span></div>
      </div>
    </div>
  </nav>
</header>