<div class="ps-section--features-product ps-section masonry-root pt-40 pb-80">
    <div class="ps-container">
      <div class="ps-section__header mb-50">
        <h3 class="ps-section__title" data-mask="dslr">- Dslr</h3>
       
      </div>
      <div class="ps-section__content pb-40">
        <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
          <div class="ps-masonry">
            <div class="grid-sizer"></div>
            <div class="grid-item kids">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail">
                    <div class="ps-badge"><span>New</span></div>
                    <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/clothes/1.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"><img src="images/clothes/1.jpg" alt=""><img src="images/clothes/2.jpg" alt=""><img src="images/clothes/3.jpg" alt=""><img src="images/clothes/4.jpg" alt=""></div>
                     
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"> XR&nbsp;64gb&nbsp;Red </a>
                      <p class="ps-shoe__categories"><a href="#">Mobile Phones</a>,<a href="#"> Apple</a></p><span class="ps-shoe__price">  &#8377; 50,000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item nike">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/clothes/2.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"><img src="images/clothes/1.jpg" alt=""><img src="images/clothes/2.jpg" alt=""><img src="images/clothes/3.jpg" alt=""><img src="images/clothes/4.jpg" alt=""></div>
                    
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"> XR&nbsp;64gb&nbsp;Red </a>
                      <p class="ps-shoe__categories"><a href="#">Mobile Phones</a>,<a href="#"> Apple</a></p><span class="ps-shoe__price">  &#8377; 50,000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item adidas">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/clothes/3.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"><img src="images/clothes/1.jpg" alt=""><img src="images/clothes/2.jpg" alt=""><img src="images/clothes/3.jpg" alt=""><img src="images/clothes/4.jpg" alt=""></div>
                   
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"> XR&nbsp;64gb&nbsp;Red </a>
                      <p class="ps-shoe__categories"><a href="#">Mobile Phones</a>,<a href="#"> Apple</a></p><span class="ps-shoe__price">  &#8377; 50,000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item kids">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail">
                    <div class="ps-badge ps-badge--sale"><span>-35%</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="images/clothes/4.jpg" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"><img src="images/clothes/1.jpg" alt=""><img src="images/clothes/2.jpg" alt=""><img src="images/clothes/3.jpg" alt=""><img src="images/clothes/4.jpg" alt=""></div>
                    
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#"> XR&nbsp;64gb&nbsp;Red </a>
                      <p class="ps-shoe__categories"><a href="#">Mobile Phones</a>,<a href="#"> Apple</a></p><span class="ps-shoe__price">  &#8377; 50,000</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>