<% if (error != '') { %>
    <!-- <ul>
        <li> <%= error %> </li>
    </ul> -->
    <div class="header-services" style="text-align: center; padding-top: 15px; background-color: #ffd8d8;;">
        <p class="ps-service"><strong>Error</strong>: <%= error %></p>
    </div>
<% } %>