<% if (error != '') { %>
    <div class="header-services" style="text-align: center; padding-top: 15px; background-color: #ffd8d8; height: 100%;">
        <div class="container">
          <p class="ps-service"><strong>Error</strong>: <%= error %></p>
        </div>       
    </div>
<% } %>

<% if (message != '') { %>
  <div class="header-services" style="text-align: center; padding-top: 15px; background-color: #d8ffe0; height: 100%;">
      <div class="container">
        <p class="ps-service"><strong>Message</strong>: <%= message %></p>
      </div>       
  </div>
<% } %>