  <div class="ps-footer bg--cover" data-background="../images/footer-background.jpg">
    <div class="ps-footer__content">
      <div class="ps-container">
        <div class="row">
          <div class="col-sm-12">
            <header><a class="ps-logo" href="/"><img src="<%= site.logoFooter %>" alt=""></a>
          </div>
              <div class="col-lg-4">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Address Office 2</h3>
                  </header>
                  <footer>
                    <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                    <p>Phone: +323 32434 5334</p>
                    <p>Fax: ++323 32434 5333</p>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-4">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Get Help</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="#">Order Status</a></li>
                      <li><a href="#">Shipping and Delivery</a></li>
                      <li><a href="/terms">Terms and conditions</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
              <div class="col-lg-4">
                <aside class="ps-widget--footer ps-widget--link">
                  <header>
                    <h3 class="ps-widget__title">Products</h3>
                  </header>
                  <footer>
                    <ul class="ps-list--line">
                      <li><a href="/mobile">Mobiles</a></li>
                    </ul>
                  </footer>
                </aside>
              </div>
        </div>
      </div>
    </div>
    <div class="ps-footer__copyright">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <ul class="ps-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>