<div class="header--sidebar"></div>
<header class="header">
  <nav class="navigation">
    <div class="container-fluid">
      <div class="navigation__column left">
        <div class="header__logo"><a class="ps-logo" href="/"><img src="../images/logo.png" alt=""></a></div>
      </div>
      <div class="navigation__column center">
            <ul class="main-menu menu">
              <li class="menu-item"><a href="/">Home</a>
              </li>
              <li class="menu-item menu-item-has-children dropdown"><a href="/store/mobiles">MOBILES</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="/store/mobiles/apple">APPLE</a></li>
                  <li class="menu-item"><a href="/store/mobiles/samsung">SAMSUNG</a></li>
                  <li class="menu-item"><a href="/store/mobiles/oneplus">ONEPLUS</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children dropdown"><a href="/store/laptops">LAPTOPS</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="/store/laptops/apple">APPLE</a></li>
                  <li class="menu-item"><a href="/store/laptops/hp">HP</a></li>
                  <li class="menu-item"><a href="/store/laptops/dell">DELL</a></li>
                  <li class="menu-item"><a href="/store/laptops/lenovo">LENOVO</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children dropdown"><a href="/store/dslrs">DSLR</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="/store/dslrs/cannon">CANON</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="/login">Login</a>
              </li>
            </ul>
      </div>
      <div class="navigation__column right">
        <form class="ps-search--header" action="/search" method="GET">
          <input class="form-control" type="text" placeholder="Search Product…" name="search">
          <button><i class="ps-icon-search"></i></button>
        </form>
        <% if(user){ %>
            <div class="ps-cart"><a class="ps-cart__toggle" href="/dashboard"><<i class="fa fa-user"></i></a>
        <% }%>
        <div class="menu-toggle"><span></span></div>
      </div>
    </div>
  </nav>
</header>