<div class="ps-section masonry-root heightWhenMobile">
  <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="3000" data-owl-gap="5" data-owl-nav="false" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="2" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on">
  <% if(offers.length != 0){ %>
    <%  offers.forEach(offer => { %>
        <div class="ps-shoes--carousel">
          <a class="ps-offer" href="<%= offer.id %>"><img src="<%= offer.image %>" alt=" <%= offer.title %>"></a>
        </div>
    <%  }) %>
    <% }else{ %>
        <div class="ps-shoes--carousel">
          <a class="ps-offer" href="product-detail.html"><img src="../uploads/offers/1.jpg" alt=""></a>
        </div>
        <div class="ps-shoes--carousel">
          <a class="ps-offer" href="product-detail.html"><img src="../uploads/offers/2.jpg" alt=""></a>
        </div>
        <div class="ps-shoes--carousel">
          <a class="ps-offer" href="product-detail.html"><img src="../uploads/offers/3.jpg" alt=""></a>
        </div>
   <% } %>
  </div>
</div>