<div class="ps-sidebar col-sm-3" data-mh="product-listing">
  <aside class="ps-widget--sidebar ps-widget--category">
    <div class="ps-widget__header">
      <h3>Category</h3>
    </div>
    <div class="ps-widget__content">
      <ul class="ps-list--checked">
        <li><a href="/apple">Apple</a></li>
        <li><a href="/samsung">Samsung</a></li>
        <li><a href="/oneplus">OnePlus</a></li>
      </ul>
    </div>
  </aside>
</div>
