<div class="ps-sidebar col-sm-3" data-mh="product-listing">
  <aside class="ps-widget--sidebar ps-widget--category">
    <div class="ps-widget__header">
      <h3>Category</h3>
    </div>
    <div class="ps-widget__content">
      <ul class="ps-list">
        <li> <a href="/store/mobiles"> <b> Mobiles </b> </a> </li>
        <li> <a href="/store/mobiles/apple"> Apple </a> </li>
        <li> <a href="/store/mobiles/samsung"> Samsung </a> </li>
        <li> <a href="/store/mobiles/oneplus"> OnePlus </a> </li>

        <li> <a href="/store/laptops"> <b> Laptops </b>  </a> </li>
        <li> <a href="/store/laptops/apple"> Apple </a> </li>
        <li> <a href="/store/laptops/hp"> HP </a> </li>
        <li> <a href="/store/laptops/dell"> Dell  </a> </li>
        <li> <a href="/store/laptops/lenovo"> Lenovo </a> </li>

        <li> <a href="/store/dslrs"> <b> DSLR's </b> </a> </li>
        <li> <a href="/store/dslrs/cannon"> Canon </a> </li>
      </ul>
    </div>
  </aside>
</div>
