
<div class="ps-404 bg--cover" data-background="../../../images/background/error-1.png">
    <div class="ps-404__content">
    <h1>500</h1>
    <h3> Srever Not Responding </h3>
    <p style="color: #000;">The server is not avilable at this moment due to some technical issues, The site will be accesible shortly.</p><a class="ps-btn" href="/">Back to home<i class="ps-icon-next"></i></a>
    </div>
</div>
<main class="ps-main">
</main>
