<% if(user){ %>
  <%- include('./partials/_dashboard_nav') %>
<% }else{ %>
  <%- include('./partials/_navbar') %>
<% } %>

<%- include('./partials/_mobile_nav') %>

<div class="ps-mission bg-cover" data-background="images/parallax/home-testimonial.jpg">
    <div class="ps-container">
      <h3>our mission</h3>
      <h2>Your success is our ambition. <br/> Your defeat spurs us on to be better.</h2>
    </div>
</div>


<div class="ps-section ps-ourteam pt-80 pb-80">
    <div class="ps-container">
      <div class="ps-section__header mb-50">
        <h2 class="ps-section__title" data-mask="TEAM">- OUR STAFF</h2>
      </div>
      <div class="ps-section__content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="ps-user">
                <div class="ps-user__thumbnnail"><img src="images/team/1.png" alt="">
                <ul class="ps-user__social">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                </div>
                <div class="ps-user__content">
                <h3>Mitchell Blair</h3>
                <p>CEO &amp; FOUNDER</p>
                </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="ps-user">
                <div class="ps-user__thumbnnail"><img src="images/team/2.png" alt="">
                <ul class="ps-user__social">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                </div>
                <div class="ps-user__content">
                <h3>Nellie Cook</h3>
                <p>DIRECTOR</p>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<%- include('partials/_footer') %>