<div class="container" style="text-align: center;">
    <form class="ps-search--header" action="/search" method="POST" style="padding-top: 25px; margin: 0 auto;">
        <input class="form-control" type="text" placeholder="Search Product…" name="search" >
        <button style="padding-top: 25px;"><i class="ps-icon-search" style="padding-top: 5px;"></i></button>
    </form>

</div>