<%- include('./partials/_dashboard_nav') %>

<%- include('partials/_mobile_nav') %>

<main class="ps-main">
    <div class="ps-contact ps-section pb-80">
      <div class="ps-container" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="ps-section__title" data-mask="update">- Update Password</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="ps-section__header mb-50">
                <form class="ps-contact__form" action="/dashboard/update/pass" method="post">
                  <div class="row">   
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                      <div class="form-group">
                        <label>Enter previous password <sub>*</sub></label>
                        <input class="form-control" type="password" placeholder="" name="password1" id="password1">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                      <div class="form-group">
                        <label> New Password <sub>*</sub></label>
                        <input class="form-control" type="password" placeholder="" name="password2" id="password2">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                      <div class="form-group">
                        <button class="ps-btn"> Change Password <i class="ps-icon-next"></i></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
    </div>
  </div>
</main>

<%- include('./partials/_footer') %>