<%- include('./partials/_dashboard_nav') %>

<%- include('partials/_mobile_nav') %>

<main class="ps-main">
  <div class="ps-contact ps-section pb-80">
    <div class="ps-container" style="margin: 0 auto;">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="ps-section__title" data-mask="Update">- Update Address</h2>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="ps-section__header mb-50">
              <form class="ps-contact__form" action="/dashboard/update/address" method="post">
                <div class="row">   
                      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group mb-25">
                          <label>New Address <sub>*</sub></label>
                          <textarea class="form-control" name="address" id="address" rows="6"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group mb-25">
                          <label>New Postal Pin <sub>*</sub></label>
                          <input class="form-control" type="text" placeholder="" name="pin" id="pin">
                        </div>
                      </div>
                        <div class="form-group">
                          <button class="ps-btn"> Change Address <i class="ps-icon-next"></i></button>
                        </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>




<%- include('./partials/_footer') %>