<div class="header--sidebar"></div>
<header class="header">
  <nav class="navigation">
    <div class="container-fluid">
      <div class="navigation__column left">
        <div class="header__logo"><a class="ps-logo" href="/"><img src="images/logo.png" alt=""></a></div>
      </div>
      <div class="navigation__column center">
            <ul class="main-menu menu">
              <li class="menu-item"><a href="/">Products</a>
              </li>
              <li class="menu-item"><a href="/orders/view">Orders</a>
              </li>
              <li class="menu-item"><a href="/offers">Offers</a>
              </li>
              <li class="menu-item"><a href="/messages">Messages</a>
              </li>
            </ul>
      </div>
      <div class="navigation__column right">
        <form class="ps-search--header" action="do_action" method="post">
          <input class="form-control" type="text" placeholder="Search Product…">
          <button><i class="ps-icon-search"></i></button>
        </form>
        <div class="menu-toggle"><span></span></div>
      </div>
    </div>
  </nav>
</header>