<%- include('_navbar') %>
<main class="ps-main">
    <div class="ps-contact ps-section pb-80">
      <!--<div id="contact-map" data-address="New York, NY" data-title="Sky Store!" data-zoom="17"></div> -->
      <div class="ps-container" style="margin: 0 auto;">
<div class="row">
    <div class="col-lg-12">
        <h2 class="ps-section__title" data-mask="Add Products">- Add Products</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div class="ps-section__header mb-50">
     
      <form class="ps-contact__form" action="/add/products" method="post" enctype="multipart/form-data">
        <div class="row">   
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>Class <sub>*</sub></label>
                  <input class="form-control" type="text" placeholder="" name="class" id="class">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>Brand <sub>*</sub></label>
                  <input class="form-control" type="text" placeholder="" name="brand" id="brand">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>Name <sub>*</sub></label>
                  <input class="form-control" type="text" placeholder="" name="name" id="name">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>Price <sub>*</sub></label>
                  <input class="form-control" type="text" placeholder="" name="price" id="price">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>stock <sub>*</sub></label>
                  <input class="form-control" type="text" placeholder="" name="stock" id="stock">
                </div>
              </div>
              <div class="form-group mb-25">
                <label>Description <sub>*</sub></label>
                <textarea class="form-control" rows="6" name="description" id="description"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label>Image <sub>*</sub></label>
                  <input class="form-control" type="file" placeholder="" name="image" id="image" value="">
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <button class="ps-btn">Add Product<i class="ps-icon-next"></i></button>
                </div>
              </div>
        </div>
      </form>
    </div>
</div>
</div>
</div>
</main>

